.dashboardCategories {
  margin-bottom: 10px;
}

.dashboardCategories select,
.dashboardCategories button {
  display: block;
  width: 200px;
  padding: 5px 3px;
  border: 1px solid #333;
  margin: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFF;
  text-align: center;
  box-shadow: 0 1px 1px #777;
  cursor: pointer;
}

.dashboardCategories select:hover,
.dashboardCategories button:hover {
  background-color: #DDD;
}

.dashboardCategories button {
  float: left;
}

.dashboardCategories button:disabled {
  background-color: #333333;
}

.box {
  padding: 7px 10px;
  border: solid 1px #333;
  margin: 5px 3px;
  min-height: 90px;
  box-shadow: 0 1px 2px #777;
}

.boxSizer {
  float: left;
  width: 33.33%;
}

.boxHeader {
  padding: 3px 10px;
  margin: -7px -10px 7px;
  background-color: #AAA;
  box-shadow: 0 1px 1px #999;
}

.boxCloseButton {
  float: right;
  height: 20px;
  width: 20px;
  padding: 0;
  border: 1px solid #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: red;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

